html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 40px;
  background: tomato;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}